*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body {font-family:sans-serif;}
 
.item a, .item .not-found {color:#FFF;font-size:2em;line-height:1.3;text-decoration:none;display:inline-block;width:100%;height:100%;}
.ventana{
  height: 100%;
  width: 100%;
  color: #fff;
  position: fixed;
  background-image:url(../../../imagenes/bg.png);
  top: 0;
  left: 0;
  display: none;}

.ven_modal{
  height: auto;
  width: auto;
  padding: 25px;
  background-color: #fff;
  color: #000;
  top:40%;
  left:48%;
  position: absolute;
  margin-left: -175px;
  margin-top: -175px;
}
.cerrar {text-align: right;margin-bottom: -20px;}
.cerrar a{
  color: red;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration:none;
}

input[type="button"] {padding: 5px;padding-left: 20px;padding-right: 20px;font-size: 20px;color: #ffffff;background-color:#2672EC;}

.boton_blue{ 
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color:#2672EC;
  }
  h3{color:#2672EC;}
  h2{color:#2672EC;}
.menu_blue{width:100%;height:4.1em;background-color:#2672EC;}
.back {width:3.8em;height:4em;float:left;background-size:cover;padding:1em;}
.backtitulo {width:auto;height:4em;float:left;}
.backtitulo h3, .backtitulo .not-found {color:#FFF;font-size:1.4em;}
.menuitem {width:auto;height:4em;float:right;background-size:cover;padding:1em;} 
.menu_blue a, .menu_blue .not-found {color:#FFF;font-size:1.1em;line-height:1.3;text-decoration:none;display:inline-block;width:100%;height:100%;}
table {margin-top:1em; margin-left:10px;width: 100%;}
td{height:50px;}
.container {margin-left:50px;}
.container select {width:100px;height:30px;font-size:.8em;}

