@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?omg4l2');
  src:  url('fonts/icomoon.eot?omg4l2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?omg4l2') format('truetype'),
    url('fonts/icomoon.woff?omg4l2') format('woff'),
    url('fonts/icomoon.svg?omg4l2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-blocked:before {
  content: "\20";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
