*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}  
* {margin:0;padding:0;}
body {font-family:sans-serif;}

.reporte {width:100%;font-family:Segoe UI,Arial,sans-serif;}
.reporte a, .reporte .not-found {color:#000;font-size:1em;line-height:1.3;display:inline-block;}
input[type=text], .reporte.not-found {width:90%;height:100%;}
select, .reporte.not-found {width:90%;height:100%;}
.boton{ 
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #ffffff;
    background-color:#2672EC;}


 
.item a, .item .not-found {color:#FFF;font-size:2em;line-height:1.3;text-decoration:none;display:inline-block;width:100%;height:100%;}
.ventana{
  height: 100%;
  width: 100%;
  color: #fff;
  position: fixed;
  background-image:url(../../../imagenes/bg.png);
  top: 0;
  left: 0;
  display: none;}

.ven_modal{
  height: auto;
  width: auto;
  padding: 25px;
  background-color: #fff;
  color: #000;
  top:40%;
  left:48%;
  position: absolute;
  margin-left: -175px;
  margin-top: -175px;
}
.cerrar {text-align: right;margin-bottom: -20px;}
.cerrar a{
  color: red;
  font-weight: 700;
  font-size: 1.5em;
  text-decoration:none;
}

input[type="button"] {padding: 5px;padding-left: 20px;padding-right: 20px;font-size: 20px;color: #ffffff;background-color:#2672EC;}


  h3{color:#2672EC;}
  h2{color:#2672EC;}

table {margin-top:1em; margin-left:10px;width: 100%;}
td{height:50px;}
.container {margin-left:50px;}
.container select {width:100px;height:30px;font-size:.8em;}

.back {width:3.8em;height:4em;float:left;background-size:cover;padding:1em;}
.backtitulo {width:auto;height:4em;float:left;padding-top:1.3em;}
.backtitulo h3, .backtitulo .not-found {color:#FFF;font-size:1.4em;}
.menuitem {width:auto;height:4em;float:right;background-size:cover;padding:1em;}
.menudrop {width:auto;height:4em;float:right;background-size:cover;padding:1em;}
.menu_bar {display:none;}
header{width: 100%;}
header nav {width:100%;width:100%;height:4.1em;background-color:#2672EC;}
nav a {color:#FFF;font-size:1.1em;line-height:1.3;text-decoration:none;}
header nav ul { overflow:hidden;list-style:none;}
header nav ul li {float:right;}  



@media screen and (max-width:800px ) {
  header nav {
    width:80%;
    height:100%;
    left:-100%;
    position: fixed;
  }
  header nav ul li {
    display:block;
    float:none;
    border-bottom:1px solid rgba(255,255,255, .3);
  }
  .menu_bar {
    display:block;
    width:100%;
    background:#2672EC;
  }
  .menu_bar .bt_menu {
    display:block;
    padding:20px;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    font-size:25px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .menu_bar span {
    float:right; font-size:40px;  
  }

.ven_modal{
  height: auto;
  width: 100%;
  padding: 25px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;}

}









